.top_list {
    width: 200px;
    padding: 20px;
    box-shadow: 10px 0 5px #5d4f4f;
    background-color: #c2bcbca1;
    color: #000;

}

.area_flexbox {
    padding: 100px;
}

.list {
    display: flex;
    /* columnだと縦列。rowだと横列 */
    flex-direction: column;
    width: 700px;
    height: 600px;
    border: 1px solid #000;
    padding: 15px;
    margin: 0 auto;
}

.list li {
    padding: 10px;
}

.list p {
    font: 900 40px/1em 'noto sans japanese',sans-serif;
    width: 400px;
    height: 100px;
    display: flex;
    /* align-items flex-start:左, center:真ん中, flex-end:右側 */
    align-items: center;
    justify-content: center;
    background-color: #dc4141;

}
img {
    width: 100%;
}

.content {
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
}

.card_list {
    max-width: 300px;
}

.card_listTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
}