body {
    background-image: url(img/itzy_logo.jpg);
    background-repeat: no-repeat;
    background-position: center 310px;
}
h1 {
    background: linear-gradient(to right, #f00, #ff8a08);
    -webkit-background-clip: text;
    color: transparent;
}

.top_list {
    width: 20%;
    padding: 20px;
    box-shadow: 10px 0 5px #e8c5e5;
    background-color: #91ddcf;
    color: #f0ebe3;

}

.area_flexbox {
    padding: 100px;
}

.list {
    display: flex;
    /* columnだと縦列。rowだと横列 */
    flex-direction: column;
    width: 700px;
    height: 600px;
    border: 1px solid #000;
    padding: 15px;
    margin: 0 auto;
}

.list li {
    padding: 10px;
}

.list p {
    font: 900 40px/1em 'noto sans japanese',sans-serif;
    width: 400px;
    height: 100px;
    display: flex;
    /* align-items flex-start:左, center:真ん中, flex-end:右側 */
    align-items: center;
    justify-content: center;
    background-color: #dc4141;

}
img {
    width: 100%;
}

.content {
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
}

.card_wrap {
    display: flex;
}
.card_list {
    max-width: 300px;
}

.card_YEJI {
    color: #ff52ee;
}
.card_RIA {
    color: #4bdfd5;
}
.card_RYUJIN {
    color: #eda4ff;
}
.card_CHERYON {
    color: #59bff7;
}
.card_YUNA {
    color: #fff87b;
}
.card_YEJI, .card_RIA, .card_RYUJIN, .card_CHERYON, .card_YUNA {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
}